<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="shapes"
            class="shapes.ShapesPackage"
            genModel="model/shapes.genmodel"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.sketch.examples.shapes.ShapesApplication"
            description="Sketch Sample Application "
            name="shapes">
         <property
               name="appName"
               value="shapes">
         </property>
         <property
               name="windowImages"
               value="icons/square_small.png,icons/square_large.png">
         </property>
      </product>
   </extension>
   <extension
         id="ShapesApplication"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.sketch.examples.shapes.diagram.ShapesApplication"
            name="shapes">
         <property
               name="windowImages"
               value="icons/square_small.png,icons/square_large.png">
         </property>
         <property
               name="appName"
               value="shapes">
         </property>
      </product>
   </extension>

</plugin>
