<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.ui.views">
   <category
         id="org.eclipse.sketch.ui.views.SketchRecognizerControl"
         name="Control">
   </category>
   <view
         allowMultiple="false"
         category="org.eclipse.sketch.ui.views.SketchRecognizerControlView"
         class="org.eclipse.sketch.ui.views.SketchRecognizerControlView"
         icon="icons/config.gif"
         id="org.eclipse.sketch.ui.views.SketchRecognizerControlView"
         name="Control"
         restorable="true">
   </view>
</extension>

</plugin>
