<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.ui.views">

    <category
            name="Sketch Controls"
            id="org.eclipse.sketch.controls">
      </category>
   
   <view
         allowMultiple="false"
         category="org.eclipse.sketch.controls"
         class="org.eclipse.sketch.ui.views.SketchRecognizerControlView"
         icon="icons/config.gif"
         id="org.eclipse.sketch.ui.views.SketchRecognizerControlView"
         name="Control"
         restorable="true">
   </view>
   <view
            name="Sketches"
            icon="icons/config.gif"
            category="org.eclipse.sketch.controls"
            class="org.eclipse.sketch.ui.views.SketchesView"
            id="org.eclipse.sketch.ui.views.SketchesView"
 			restorable="true">
   </view>
   
</extension>

</plugin>
